<f:layout name="Default" />

<f:section name="Title">Index view of Upload controller</f:section>

<f:section name="Content">
	<f:if condition="uploads">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th><f:translate id="label.field.upload.image" /></th>
					<th><f:translate id="label.field.upload.title" /></th>
					<th><f:translate id="label.field.upload.description" /></th>
					<th><f:translate id="label.upload.edit" /></th>
					<th><f:translate id="label.upload.delete" /></th>
				</tr>
			</thead>
			<tbody>
			<f:for each="uploads" as="fileUpload">
				<tr>
					<td>{fileUpload.path}</td>
					<td>{fileUpload.title}</td>
					<td>{fileUpload.description}</td>
					<td>
						<f:link.action action="edit" controller="Upload" arguments="{upload: fileUpload}">
							<i class="icon-pencil"></i>
						</f:link.action>
					</td>
					<td>
						<f:link.action action="delete" controller="Upload" arguments="{upload: fileUpload}">
							<i class="icon-trash" onclick="return confirm('Are you sure you want to delete?')"></i>
						</f:link.action>
					</td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</f:if>
</f:section>